@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'DMSans';
	src: url('/fonts/DMSans.ttf') format('truetype');
	font-weight: 1 999;
}
@font-face {
	font-family: 'DMSans-italic';
	src: url('/fonts/DMSans-italic.ttf') format('truetype');
	font-weight: 1 999;
}

* {
	font-family: 'DMSans', sans-serif;
}

.slides {
	display: grid;
	grid-auto-flow: column;
	gap: 1rem;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	scroll-snap-type: x mandatory;
	scrollbar-width: none;
	padding-bottom: 16px;
}

.slides > article {
	scroll-snap-align: center;
}

.slides::-webkit-scrollbar {
	display: none;
}
